body {
  background-image: url("../assets/background.png");
  background-attachment: fixed;
}

main>div {
  padding: 7.5rem 10rem 0 10rem;
}

main {
  background-color: rgba(67, 76, 94, 0.75);
}

@media  (min-width: 1024px) {
  main>div {
    padding: 7.5rem 25% 0 25%;
  }
}

