nav {
    position: fixed;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background:rgba(76, 86, 106, 1);
    width: 100%;
}

nav>button {
    background:rgba(76, 86, 106, 1); 
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'PT Sans', sans-serif;
    color: #ECEFF4;
    font-size: 1rem;
    transition: background-color 0.2s;
    transition-timing-function: ease-out;
    text-transform: uppercase;
}

nav>button:hover {
    background: #2E3440;
    cursor: pointer;
}